{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Add new product{% endblock %}

{% block content %}
    <h2>Your orders:</h2>
    {% for purchase in object_list %}
        {% if purchase.user == request.user %}
            <div class="purchase-list">
            <h2>Product: {{ purchase.product }}</h2>
            <img src="


                    {% if purchase.product.image %}{{ purchase.product.image.url }}{% else %}{% static "shop/img/no_image.png" %}{% endif %}">
            <p>Quantity: {{ purchase.product_quantity }}</p>
            <p>Price per item: {{ purchase.product.price }}</p>
            <p>Date: {{ purchase.bought_at }}</p>
            {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'shop:create_return' purchase.pk %}">
                    {% csrf_token %}
                    <input type="submit" value="Return">
                </form>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
